{% extends "layout.html" %}
{% block title %}Uusi treeni{% endblock %}
{% block content %}
Kirjatut sarjat:
<ul>
{% for set in sets %}
<li>{{set.name}} toistoja: {{set.repetitions}} paino: {{set.weight}}kg
{% endfor %}
</ul>
Sarjoja lisätty: {{count}}

<form action="/add_set" method="POST">
Lisää sarja liikeeseen:
<ul>
{% for movement in movements %}
<input type="submit" name="movement" value={{movement}}> 
{% endfor %}
</ul>
</form>

<form action="/save_workout">
<input type="submit" name="save" value="Tallenna treeni">
</form>
{% endblock %}
