{% extends "layout.html" %}
{% block title %}Valitse liikkeet{% endblock %}
{% block content %}
<form action="/new_workout" method="POST">
    Valitse liikkeet:
<p>
<input type="checkbox" name="movement" value="jalkakyykky"> jalkakyykky
<input type="checkbox" name="movement" value="penkkipunnerrus"> penkkipunnerrus
<input type="checkbox" name="movement" value="maastaveto"> maastaveto
<input type="checkbox" name="movement" value="leuanveto"> leuanveto
<p>
<label for="date">Suoritus päivämäärä:</label>
<input type="date" id="date" name="date" value="date">
<input type="submit" value="Luo treeni">
</form>
{% endblock %}

